@page "/counter"
@using System.Globalization
@using System.Threading
@layout Layout.MainLayout
@rendermode InteractiveServer
@implements IDisposable

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<CustomButton OnClick='()=> Console.WriteLine("Custom Button is clicked")' class="btn btn-success">This is Custom Button</CustomButton>

<input type="text" @oninput="HandleInput" />

@if (userInput is not null)
{
    <p>You entered: @userInput</p>
}
<div>
    <input type="text" @bind="InputText" @bind:event="oninput"/>
    <CustomButton OnClick="ClearInputText">clear</CustomButton>
</div>
<p>@InputText</p>

@code {
    private int currentCount = 0;
    private Timer? _debounceTimer;
    [Parameter]
    [SupplyParameterFromQuery]
    public int? IncrementAmount { get; set; }

    private string? userInput;

    private void IncrementCount()
    {
        currentCount += IncrementAmount ?? 1;
    } 
    private async Task HandleInput(ChangeEventArgs args)
    {
        // Dispose of the existing timer
        _debounceTimer?.Dispose();

        // Create a new timer that will execute after 500ms
        _debounceTimer = new Timer(async _ =>
        {
            await InvokeAsync(() =>
            {
                userInput = args.Value?.ToString();
                StateHasChanged();
            });
        }, null, 500, Timeout.Infinite);
    }

    void IDisposable.Dispose()
    {
        _debounceTimer?.Dispose();
    }

    public string InputText { get; set;} = string.Empty;

    private void ClearInputText(){
        InputText = string.Empty;
    }
}
